<h1>Signin Form</h1>

<div class="container">
  
  <form class="row g-3">
   
    <div class="input-group mb-3">
      <label class="form-label" for="formpwd">Email</label>
      <input class="form-control" id="formemail" type="text" placeholder="enter email" aria-label="@gmail.com">
      <span class="input-group-text" id="basic-addon">@gmail.com</span>
    </div>

    <div class="col-6 form-floating position-relative">
      <input class="form-control"  id="formpwd" type="text" placeholder="enter password">
      <label class="form-label" for="formpwd">Password</label>

    </div>
    
    <div class="col-6 form-floating position-relative">
      <input class="form-control"  id="formcnfrmpwd" type="text" placeholder="confirm enter password">
      <label class="form-label" for="formcnfrmpwd">Confirm Password</label>
    </div>

    <div class="d-grid">
      <button class="btn btn-primary">Signup</button>
    </div>

  </form>

</div>